* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* shared */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.btn:hover {
    background-color: white;
    color: #30B868;
    transition: 0.5s;
}

.left {
    width: 251px;
    height: 52px;
    padding: 12px 16px;
    gap: 16px;


}

.btn-right {
    width: 251px;
    height: 52px;
    padding: 12px 16px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.btn-right:hover {
    background-color: #30B868;
    color: white;
    transition: 0.5s;
}



/* header */
.top-btn {
    border-radius: 20px;
    padding: 10px 12px;
    color: #30B868;
    gap: 16px;
    border: none;
}
.top-btn:hover{
    color: white;
    background-color: #30B868;
    transition: 1s;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
}

#nav-container .img {
    width: 139px;
    height: 60px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}


#section .section-container {
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    padding: 70px 120px 120px 134px;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.up-title {
    font-size: 72px;
    font-weight: 700;
    color: white;
    padding-top: 16px;
}

.down-title {
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    padding-bottom: 16px;
}

.section-title p {
    color: white;
    line-height: 24px;
    text-align: center;
    padding-bottom: 16px;
}

#notes .notes-container {
    display: flex;
}
#notes{
    margin-left: 120px;
    margin-right: 120px;
}

.notes-heading h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 44px;

}

.notes-heading p {
    font-size: 16px;
    color: #627382;
    text-align: center;
}

#notes {
    margin: 0;
    padding: 0 120px; 
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 44px 120px 120px 120px; 
}

.card-box {
    height: 300px;
    width: 322px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 0 0 8px #909191;
    padding: 24px;

}

.card-icon {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon img {
    height: 32px;
    width: 32px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.card p {
    font-size: 16px;
    color: #627382;
    text-align: center;

}

.brain-text {
    font-size: 16px;
    color: #30B868;
}

.brain-content h1 {
    font-size: 48px;
    color: #001931;
}

.para {
    font-size: 16px;
    color: #627382;
}

.list li {
    display: flex;
    list-style: none;

}

.brain-image {
    width: 600;
    height: 600px;
}

.brain {
    display: flex;
    align-items: center;
    gap: 60x;
    padding: 120px;
}



.clear-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
    gap: 24px;
    margin-bottom: 120px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 80px;
}

.clear-container p {
    font-size: 16px;
    color: #627382;
    text-align: center;
}

.clear-container h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    gap: 16px;
}

.footer {
    padding: 120px;
    background-color: #001931;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #001931;
    align-items: center;

}

.footer-container p {
    font-size: 16px;
    color: white;
}

.last-line {
    font-size: 16px;
    color: white;
    padding: 16px;
    text-align: center;
}
.last{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 16px;
}