* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* shared */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}
#nav-container .img {
    width: 139px;
    height: 60px;
}
#nav-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
}